*.tar.gz

*.exe
src/novo
src/novod
src/novo-cli
src/novo-tx
src/test/test_novo
src/test/test_novo_fuzzy

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/novo-config.h
src/config/novo-config.h.in
src/config/stamp-h1
share/setup.nsi

src/univalue/gen

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation
*.qm
Makefile

# Unit-tests
Makefile.test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_novo.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/tests_config.py
qa/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libnovoconsensus.pc
contrib/devtools/split-debug.sh

.idea/
.vscode/*

# Snapcraft
parts/
prime/
stage/
*.snap

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
